/* FONTS
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* Conatiner */
.container {
  /* Set Width + height */
  width: 100%;
  height: 100vh;
  /* Set Background img */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/bg.jpeg") center no-repeat;
  background-size: cover;
}

/* Heading */
.heading {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;

  /* Center Heading */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* Card */
.cards-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  width: 280px;
  background-color: #eee;
}

/* Images */
.image-top {
  width: 100%;
}

.profile-image {
  width: 128px;
}
